<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
    <title>Projet SDTD</title>
    <style>
        .centered-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .navbar {
            width: 100%;
            margin-bottom: 20px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown-menu a").click(function() {
                var selectedOption = $(this).text();
                $("#dropdownMenuButton").text(selectedOption);

                $.ajax({
                    url: '/select-topic',
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify({'selected_option': selectedOption})
                });
            });

            $(".dropdown-menu a:first").click();
        });

        function WordCloud(text, {
            size = group => group.length,
            word = d => d,
            marginTop = 0,
            marginRight = 0,
            marginBottom = 0,
            marginLeft = 0,
            width = 640,
            height = 400,
            maxWords = 250,
            fontFamily = "sans-serif",
            fontScale = 15,
            padding = 0,
            rotate = 0,
            invalidation
        } = {}) {
            const words = typeof text === "string" ? text.split(/\W+/g) : Array.from(text);

            const color = d3.scaleOrdinal(d3.schemeCategory10);

            const data = d3.rollups(words, size, w => w)
                .sort(([, a], [, b]) => d3.descending(a, b))
                .slice(0, maxWords)
                .map(([key, size]) => ({ text: word(key), size }));

            const svg = d3.create("svg")
                .attr("viewBox", [0, 0, width, height])
                .attr("width", width)
                .attr("font-family", fontFamily)
                .attr("text-anchor", "middle")
                .attr("style", "max-width: 100%; height: auto; height: intrinsic;");

            const g = svg.append("g").attr("transform", `translate(${marginLeft},${marginTop})`);

            const cloud = d3.layout.cloud()
                .size([width - marginLeft - marginRight, height - marginTop - marginBottom])
                .words(data)
                .padding(padding)
                .rotate(rotate)
                .font(fontFamily)
                .fontSize(d => Math.sqrt(d.size) * fontScale)
                .on("word", ({ size, x, y, rotate, text }) => {
                    g.append("text")
                        .attr("font-size", size)
                        .attr("transform", `translate(${x},${y}) rotate(${rotate})`)
                        .attr("fill", () => color(text))
                        .text(text);
                });

            cloud.start();
            invalidation && invalidation.then(() => cloud.stop());
            return svg.node();
        }

        document.addEventListener("DOMContentLoaded", function() {
            const text = "{{content}}";

            const wordCountSlider = document.getElementById('wordCountSlider');
            const wordCountDisplay = document.getElementById('wordCountDisplay');
            
            createWordCloud(text, 50);
            
            wordCountSlider.addEventListener('change', function() {
                const sliderValues = [10, 30, 50, 100, 200];
                const maxWords = sliderValues[wordCountSlider.value - 1];
                wordCountDisplay.textContent = maxWords;

                createWordCloud(text, maxWords);
            });
        });

        function createWordCloud(text, maxWords) {
            const wordCloudContainer = document.getElementById('word-cloud');
            wordCloudContainer.innerHTML = '';

            const cloudElement = WordCloud(text, {
                width: 1200,
                height: 600,
                maxWords: maxWords,
                fontScale: 50,
                padding: 5
            });
            wordCloudContainer.appendChild(cloudElement);
        }
    </script>
</head>

<body>
    <div class="container centered-container">
        <div class="row navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
                <a class="navbar-brand" href="#">ENSIMAG</a>

                <!-- Dropdown Menu -->
                <div class="dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton">
                        Topic filter
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">News</a>
                        <a class="dropdown-item" href="#">Sports</a>
                        <a class="dropdown-item" href="#">Politics</a>
                        <a class="dropdown-item" href="#">Entertainment</a>
                    </div>
                </div>
                <div class="mt-3">
                    <input type="range" min="1" max="5" value="3" id="wordCountSlider">
                    <span id="wordCountDisplay"></span>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="word-cloud"></div>
            </div>
        </div>
    </div>
</body>
</html>
